<section class="banner">
    <div class="top">
        <div class="image">
            <img src="assets/image/logo.svg" alt="">
        </div>
        <div class="text">
            <h1>
                APPLICATION FOR
                <span>ADMISSION</span>
            </h1>
        </div>
    </div>
    <div class="items">
        <div class="instructions">
            <p class="title"> Instructions:</p>
            <ul>
                <li>Please complete ALL sections in this form using BLOCK LETTERS.</li>
                <li>
                    Enclose certified true copies of all supporting documents with this completed and signed application. All documents must be certified by a
    recognised authority, e.g. original issuing bodies, Commisioner of Oaths, registered Taylor’s representative/agent or Taylor’s staff members.
                </li>
                <li> This application is the property of Taylor’s. Please note supporting documentation will NOT be returned.</li>
                <li>
                    For international students, the application and complete set of documents must reach Taylor’s at least eight (8) weeks before the commencement
                of programme to facilitate the student pass application process
                </li>
                <li>
                    Applicant that is underage will be invited to an additional interview prior to programme enrolment. Underage refers to student pursuing study at
                    university or pre university level below the stipulated age. Bachelor, Master, PhD programmes = below age 18; Pre University, Foundation,
                    Diploma programmes = below age 16.
                </li>
            </ul>
        </div>
        <div class="bottom">
            <div class="left">
                <p class="title">
                    For office use only:
                </p>
                <form [formGroup]=" userForm">
                    <div class="form-control">
                        <label for="student-id">Student ID:</label>
                        <input name="Student-id" type="text" formControlName="studentID">
                        <div class="text-danger" *ngIf=" userForm.controls['studentID'].touched">
                            This field is required
                        </div>
                    </div>
                    <div class="form-control">
                        <label for="discount">Scholarships/Bursary Discount Code:</label>
                        <input
                            class="discount"
                            name="discount"
                            placeholder=" "
                            type="text" formControlName="code"
                        >
                    </div>
                </form>
            </div>
            <div class="dashed-line"></div>
            <p class="stamp"> Appointed Representative's Stamp/Counselors Name:</p>
        </div>
    </div>
</section>
