*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  background-color: #fff;
}
.sectionB{
  margin: 90px;
}
.intake{
  padding: 12px;
  background-color: #f0d4d5;
  border-radius: 12px;
}
.intake label{
  font-size: 20px;
}
input{
  background-color: #dee5ff;
  border-radius: 6px;
  border: solid #dee5ff;
}
input:hover{
  border: 2px solid #000;
}
input.semester{
  width: 10%;
  border-radius:6px;
  /* border-color: #ef3238; */
  border: solid 2px #ef3238;
}
label.year{
  padding-left: 50px;
}
.text{
  margin-top:10px;
  margin-left:12px;
}
.text #small{
  font-size: 13px;
  margin-top: 10px;
}
.programmes{
  padding: 17px;
  background-color: #d2d3d3;
  border-radius: 13px;
  margin-top: 18px;
}
.programme{
  display: flex;
}
.programme label{
  width: 200px;
}
.programme p{
  font-size: 17px;
}
.programme input{
  width: 100%;
}
.programme .eg{
  font-size: 10px;
}
#Specialisation{
  display: flex;
  margin-top: 13px;
}
.applying{
  margin-top: 11px;
}
.applying b{
  font-size: 18px;
  margin: 10px auto auto 12px;
}
.applying label{
  margin-left: 1px;
}
.applying p{
  font-size: 12.7px;
  margin:10px auto auto 12px;
}
.choices{
  padding: 17px;
  background-color: #d2d3d3;
  border-radius: 13px;
  margin:10px auto;
}
.choices p{
  font-size: 17px;
}
.Complementary{
  display: flex;
  margin:14px auto;
}
.Complementary input{
  width: 100%;
}
p.extension{
  margin-left: 9px;
  font-size: 17px;
  width: 150px;
  height: 37px;
}
.note{
  margin:10px auto auto 12px;
}
.note p{
  font-size: 12px;
  margin-top:5px;
}
.postGraduate{
  margin-top: 10px;
  background-color: #f0d4d5;
  padding: 12px 17px 20px 30px;
  border-radius:12px ;
  display: flex;
}
.firstHalf b{
  font-size: 12.5px;
}
.sure{
  display: flex;
  align-items: center;
  margin-top: 12px;
}
.sure p{
  font-size: 17px;
}
.sure .yn{
  margin-left: 7px;
}
#checkbox1{
  margin-left: 35px;
}
#checkbox2{
  margin-left: 10px;
}
.divider{
  width: 2px;
  height: 70px;
  background-color: #b2292d;
  margin-top: 5px;
  margin-left: 25px;
}
.secondHalf{
  display: flex;
  justify-content: center;
  align-items: center;
}
.secondHalf b{
  margin-left: 12px;
}
.tick{
  margin-left: 10px;
}

