
<section class="section-b">
  <div class="title">
    <h3>
      <span>Section <B></B>:</span>
      PROGRAMME PREFERENCES
    </h3>
  </div>
    <section class="sectionB">
      <div class="intake">
        <label><b>Intake/Semester Month:</b></label>
        <input type="text" class="semester">
        <label class="year"><b>Intake/Semester Year:</b></label>
        <input type="text" class="semester">
      </div>
      <div class="text">
        <p>Please state the programme(s) you would like to study:</p>
        <p id="small">(Refer to the prospectus or Taylor’s website for the list of programmes offered)</p>
      </div>
      <div class="programmes">
        <div class="programme">
          <label><p>Programme: <br></p>
            <p class="eg">(e.g. Bachelor of Business)</p>
          </label>
          <input type="text">
        </div>
        <div  id="Specialisation" class="programme">
          <label><p>Specialisation: <br></p>
            <p  class="eg">(e.g. Business Admistration)</p>
          </label>
          <input type="text">
        </div>
      </div>
      <div class="applying">
        <b>Are you applying for Credit Transfer?</b>
        <input type="checkbox">
        <label>Yes</label>
        <input type="checkbox">
        <label> No</label>
        <p>(If yes, you must submit the completed application for Module Exemption/Credit Transfer form including relevant documents and state your choice of complementary study in the below section)</p>
      </div>
      <div class="choices">
        <p>Choice of Complementary Study:<br></p>
        <div class="choice">
          <div class="Complementary">
            <label>
              <p class="extension">First Extension:</p>
            </label>
            <input type="text">
          </div>
          <div class="Complementary">
            <label>
              <p class="extension">Second Extension:</p>
            </label>
            <input type="text">
          </div>
          <div class="Complementary">
            <label>
              <p class="extension">First Minor:</p>
            </label>
            <input type="text">
          </div>
          <div class="Complementary">
            <label>
              <p class="extension">Second Minor:</p>
            </label>
            <input type="text">
          </div>
          <div class="Complementary">
            <label>
              <p class="extension">First major:</p>
            </label>
            <input type="text">
          </div>
        </div>
      </div>
      <div class="note">
        <b>Note:</b>
        <p>* For ADP programmes, please complete the “Module Selection” form separately.</p>
      </div>
      <div class="postGraduate">
        <div class="firstHalf">
          <b>For Post-Graduate applicants ONLY:</b>
          <div class="sure">
            <p><b>Are you applying under Recognition of Prior Learning?</b></p>
            <input id="checkbox1" type="checkbox">
            <label class="yn">Yes</label>
            <input  id="checkbox2" type="checkbox">
            <label class="yn">No</label>
          </div>
        </div>
        <div class="divider"></div>
        <div class="secondHalf">
          <b>Kindly select the mode of candidature. </b>
          <div class="tick">
            <div class="tick1">
              <input type="checkbox">
              <label>Full time</label>
            </div>
            <div class="tick2">
              <input type="checkbox">
              <label>Part time</label>
            </div>
          </div>
        </div>
      </div>
    </section>
</section>
