
.sectionB{
  margin: 25px 10px;
}
.sectionB .intake{
  padding: 12px;
  background-color: #f0d4d5;
  border-radius: 12px;
  margin: 0px;
}
.sectionB .intake label{
  font-size: calc(20px + (22 - 20) * ((100vw - 1024px) / (1920 - 1024)));
  margin: 0px;
}
.sectionB input{
  background-color: #e2e5f0;
  border-radius: 6px;
  border: 3px solid #e6e7e7;
}
/* .sectionB input:hover{*/
/*  border: 2px solid #000;*/
/*}*/
.sectionB  input .semester{
  width: 10%;
  border-radius:6px;
  border: solid 2px #ef3238;
  margin: 0px;
}
.sectionB label.year{
  padding-left: 50px;
  margin: 0px;
}
.sectionB .text{
  margin: 0px;
}
.sectionB .text #small{
  font-size: calc(13px + (15 - 13) * ((100vw - 1024px) / (1920 - 1024)));
  margin: 10px 0px 5px 8px ;
}
.sectionB .programmes{
  padding: 17px;
  background-color: #d2d3d3;
  border-radius: 13px;
  margin-top: 7px;
}
.sectionB .programme{
  display: flex;
}
.sectionB .programme label{
  width: 200px;
}
.sectionB .programme p{
  font-size:calc(17px + (19 - 17) * ((100vw - 1024px) / (1920 - 1024)));
  margin: 0px;
}
.sectionB .programme input{
  width: 100%;
}
.sectionB .programme .eg{
  font-size: calc(10px + (12 - 10) * ((100vw - 1024px) / (1920 - 1024)));
  margin: 3px;
}
#Specialisation{
  display: flex;
  margin-top: 13px;
}
.sectionB .applying{
  margin-top: 11px;
}
.sectionB .applying b{
  font-size: calc(18px + (20 - 18) * ((100vw - 1024px) / (1920 - 1024)));
  margin: 10px auto auto 12px;
}
.sectionB .applying label{
  margin-left: 1px;
}
.sectionB .applying p{
  font-size: calc(12.5px + (14 - 12.5) * ((100vw - 1024px) / (1920 - 1024)));
  margin:10px auto auto 12px;
}
.sectionB .choices{
  padding: 17px;
  background-color: #d2d3d3;
  border-radius: 13px;
  margin:10px auto;
}
.sectionB .choices p{
  font-size: calc(17px + (19 - 17) * ((100vw - 1024px) / (1920 - 1024)));
  margin: 0px;
}
.sectionB .Complementary{
  display: flex;
  margin:14px auto;
}
.sectionB .Complementary input{
  width: 100%;
}
p.extension{
  margin-left: 9px;
  font-size: calc(17px + (19 - 17) * ((100vw - 1024px) / (1920 - 1024)));
  width: 150px;
  height: 37px;
}
.sectionB .note{
  margin:10px auto auto 12px;
}
.sectionB .note p{
  font-size: calc(12px + (14 - 12) * ((100vw - 1024px) / (1920 - 1024)));
  margin-top:5px;
}
.sectionB .postGraduate{
  margin-top: 10px;
  background-color: #f0d4d5;
  padding: 12px 17px 20px 30px;
  border-radius:12px ;
  display: flex;
}
.sectionB .firstHalf b{
  font-size: calc(12.5px + (15.5 - 12.5) * ((100vw - 1024px) / (1920 - 1024)));
  margin: 0px;
}
.sectionB .sure{
  display: flex;
  align-items: center;
  /* margin-top: 12px; */
}
.sectionB .sure p b{
  font-size: calc(17px + (19 - 17) * ((100vw - 1024px) / (1920 - 1024)));
}
.sectionB .sure .yn{
  margin-left: 7px;
}
#checkbox1{
  margin-left: 35px;
}
#checkbox2{
  margin-left: 10px;
}
.sectionB .divider{
  width: 2px;
  height: 70px;
  background-color: #b2292d;
  margin-top: 5px;
  margin-left: 25px;
}
.sectionB .secondHalf{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.sectionB .secondHalf b{
  margin-left: 12px;
}
.sectionB .tick{
  margin-left: 10px;
}
