<section class="section-d">
    <div class="title">
        <h3>
            <span>Section D:</span>
            ENGLISH LANGUAGE PROFICIENCY
        </h3>
    </div>
    <div class="text">
        <p>
            All applicants must meet Taylor's English Language proficiency requirment of the chosen programme and attach
            <span>your certified true copy of English proficiency results</span>
            to this application. Please note that applicants who have not satisfied a minimum requirment in English will be required to take an English Test.
        </p>
    </div>
    <div class="question">
        <p>
            Have you taken an English Proficiency Test within the last 12 months?
        </p>
        <div class="form-control">
            <input type="radio" name="yes">
            <label for="yes">Yes</label>
            <input type="radio" name="no">
            <label for="no">No</label>
        </div>
    </div>
    <div class="bottom">
        <div class="form-control">
            <input type="checkbox" name="ielts">
            <label for="ielts">IELTS</label>
            <input type="checkbox" name="tofel">
            <label for="tofel">TOFEL</label>
            <input type="checkbox" name="muet">
            <label for="muet">MUET</label>
            <input type="checkbox" name="others">
            <label for="others">
                Others
                <span>(please specify)</span>
            </label>
            <input type="text" name="name">
        </div>
        <div class="form-control">
            <label for="band">Band/Score</label>
            <input type="text" name="band">
        </div>
        <div class="form-control">
            <label for="date">
                Expected Actual Results Release Date
                <span>(if current awaiting actual results)</span>
            </label>
            <input type="text" name="date">
        </div>
    </div>
</section>