<section class="section-e">
    <div class="title">
        <h3>
            <span>Section E:</span>
            SCHOLARSHIP/SPONSORSHIP
        </h3>
    </div>
    <div class="container">
        <div class="question">
            <p>How will your programe be financed?</p>
        </div>
        <div class="button">
            <input type="radio" name="yes">
            <label for="yes">Self</label>
            <input type="radio" name="no">
            <label for="no">Ordanisation/Government Sponsored</label>
        </div>
    </div>
    <div class="doc">
        <label for="name">If sponsored, name of the external organisation</label>
        <input type="text" name="name">
        <p>(Please provide a copy of the scholarship / sponsorship offer letter with this application)</p>
    </div>
</section>