<section class="section-h">
    <div class="title">
        <h3>
            Section H:
                PARENT/GUARDIAN INFORMATION
        </h3>
    </div>
    <div class="container">
        <div class="left">
            <div class="form-control1">
                <label for="name">Name:
                    <span> (as per NRIC/passport)</span>
                </label>
                <input name="name" type="text">
            </div>
            <div class="col1">
                <div class="form-control">
                    <label for="name">Occupation:</label>
                    <input name="name" type="text">
                </div>
                <div class="form-control">
                    <label for="no" class="label1">NRIC/Passport No.:</label>
                    <input name="no" type="text">
                </div>
            </div>
            <div class="col2">
                <div class="form-control">
                    <label for="number">Mobile:</label>
                    <input name="number" type="text">
                </div>
                <div class="form-control">
                    <label for="status">Relationship:</label>
                    <input name="status" type="text">
                </div>
            </div>
            <div class="form-control2">
                <label for="email">Email:</label>
                <input name="email" type="email">
            </div>
        </div>
        <div class="right">
            <p>(if different from permanent home address stated in Page1)</p>
            <div class="form-control address">
                <label for="address">Addres:</label>
                <input name="address" type="text">
            </div>
            <div class="col1">
                <div class="form-control">
                    <label for="city">City:</label>
                    <input name="city" type="text">
                </div>
                <div class="form-control">
                    <label for="no">Postcode:</label>
                    <input name="no" type="text">
                </div>
            </div>
            <div class="col2">
                <div class="form-control">
                    <label for="state">State:</label>
                    <input name="state" type="text">
                </div>
                <div class="form-control">
                    <label for="country">Country:</label>
                    <input name="country" type="text">
                </div>
            </div>
        </div>
    </div>
</section>