.SectionC{
  margin: 25px 5px;
}
.SectionC .text p{
  font-size: calc(17px + (19 - 17) * ((100vw - 1024px) / (1920 - 1024)));;
  margin: 0px auto auto 8px;
}
.SectionC .text p b{
  margin-right: 2px;
}
.SectionC .qualification{
  margin-top: 20px;
}
.SectionC .qualification .text p{
  font-size: calc(13.7px + (15.7 - 13.7) * ((100vw - 1024px) / (1920 - 1024)));;
}
.SectionC .qualification .text p b{
  font-size: calc(17px + (19 - 17) * ((100vw - 1024px) / (1920 - 1024)));;
}
.SectionC .Pre-requisite .text p{
  font-size: 13.7px;
}
.SectionC .Pre-requisite .text p b{
  font-size: calc(17px + (19 - 17) * ((100vw - 1024px) / (1920 - 1024)));;
}
.SectionC .key{
  display: flex;
  align-items: center;
}
.SectionC .qualification-body{
  background-color: #d2d3d3;
  padding: 10px 15px 12px 15px;
  border-radius: 12px;
}
.SectionC .key .p1{
  width: 20.71%;
}
.SectionC .key .p2{
  width: 13.66%;
}
.SectionC .key .p3{
  width: 12.70%;
}
.SectionC .key .p4{
  width: 35.33%;
}
.SectionC .key .p5{
  width: 17.59%;
}
.SectionC .p5 .tiny{
  font-size: calc(11px + (13 - 11) * ((100vw - 1024px) / (1920 - 1024)));
}
.SectionC .p1 ,.p2,.p3,.p4, .p5.tiny, .p5 p{
  margin: 0px;
}
#down p{
  margin-top: 10px;
}
.SectionC .question{
  margin-top: 15px;

}
.SectionC .example{
  background-color: #5a5a5d;
  border-radius: 10px;
  display: flex;
  align-items: center;
  font-size: calc(10px + (12 - 10) * ((100vw - 1024px) / (1920 - 1024)));;
  color: #fff;
  padding: 3px;
}
.SectionC .example .eg1{
  width: 20.90%;
  margin-left: 5px;
}
.SectionC .example .eg2{
  width: 13.39%;
  margin-left: 5px;
}
.SectionC .example .eg3{
  width: 13.1%;
  margin-left: 5px;
}
.SectionC .example .eg4{
  width: 36.01%;
  margin-left: 5px;
}
.SectionC .example .eg5{
  width: 17.6%;
  margin-left: 5px;
}
.SectionC .divide{
  height: 28px;
  width: 2px;
  background-color: #d2d3d3;
}
.SectionC .key{
  margin-bottom:6px;
  display: flex;
  align-items: center;
}
.SectionC .key p{
  margin-left: 3px;
  color: #000000;
  font-size: calc(14px + (16 - 14) * ((100vw - 1024px) / (1920 - 1024)));;
}
.SectionC .inputs{
  margin-top: 15px;
  height: 35px;
  background-color: #fff;
  border-radius: 3px;
  align-items: center;
  display: flex;
}
.SectionC .inputs input{
  background-color: #dee5ff;
  border-color: #dee5ff;
  border-style: solid;
  margin: 2px;
  height: 90%;
  /* width: 99.5%; */
}
/*.SectionC .inputs input:hover{*/
/*  border-color : #000000;*/
/*  border-style: solid;*/
/*  background-color: #fff;*/
/*}*/
.SectionC .inputs .in1{
  width: 20.79%;
}
.SectionC .inputs .in2{
  width: 13.04%;
}
.SectionC .inputs .in3{
  width: 12.76%;
}
.SectionC .inputs .in4{
  width: 35.94%;
}
.SectionC .inputs .in5{
  width: 17.47%;
}
.SectionC .Pre-requisite{
  margin-top: 20px;
}
.SectionC .Pre-requisite .example{
  padding:10px 0;
}
.SectionC .confirmation{
  display: flex;
  margin-top: 5px;
}
.SectionC .confirmation b{
  font-size: calc(17px + (19 - 17) * ((100vw - 1024px) / (1920 - 1024)));
}
.SectionC .confirmation label{
  margin-left: 5px;
}
.SectionC .checkbox-round {
  width: 1.3em;
  height: 1.3em;
  margin-left: 20px;
  background-color: #dee5ff;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}
 .checkbox-round:hover{
  border: #000000 solid 3px;
}
.checkbox-round:checked {
  background-color: gray;
}
