/* You can add global styles to this file, and also import other style files */
.banner .image img {
  width: calc(350px + (450 - 350) * ((100vw - 1024px) / (1920 - 1024)));
}

.section-a .title::after,
.section-b .title::after,
.section-c .title::after,
.section-d .title::after,
.section-e .title::after,
.section-f .title::after,
.section-g .title::after,
.section-h .title::after,
.section-i .title::after {
  width: 100%;
  content: "";
  height: 10px;
  display: block;
  background: #b2292d;
  margin-top: -37px;
}
.text-danger{
  color: #b2292d;
}

.banner,
.section-a,
.section-b,
.section-c,
.section-d,
.section-e,
.section-f,
.section-g,
.section-h,
.section-i {
  width: 90%;
  margin: auto;
}
.banner .top,
.banner .bottom form,
.section-a .column1,
.section-a .column2,
.section-a .column3,
.section-a .column4,
.section-a .column5,
.section-a .form-control,
.section-a .form1 .col2,
.section-a .int-student .container,
.section-f .container,
.section-e .container,
.section-e .doc,
.section-h .left .form-control1,
.section-i .form-control1,
.section-d .question,
.section-d .bottom,
.section-d .bottom .form-control,
.section-g .contact,
.section-g .col1,
.section-g .col2,
.section-g .form-control,
.section-h .container .col1,
.section-h .container .col2,
.section-h .form-control,
.section-h .container,
.footer {
  align-items: center;
  display: flex;
}
.section-i .container,
.banner .bottom,
.section-i .bottom,
.section-h .left .form-control2{
  display: flex;
}
.section-i .bottom{
  justify-content: space-between;
  align-items: end;
}
.banner .top {
  justify-content: space-between;
}

.banner .top span {
  display: block;
  color: #b2292d;
  font-size: calc(35px + (42 - 35) * ((100vw - 1024px) / (1920 - 1024)));
}

.banner .top h1 {
  font-size: calc(22px + (26 - 22) * ((100vw - 1024px) / (1920 - 1024)));
}

.banner .items ul {
  list-style-type: auto;
}

.banner .items {
  padding: 20px;
  background-color: #d2d3d4;
}
.section-d .question,
.banner .bototm,
.section-d .bottom{
  gap: 30px;
}
.banner .bottom {
  padding-left: 15px;
  background-color: #ffffff;
}

.banner .form input,
.section-a input[type="text"],
.section-i input[type="text"],
.section-h input,
.section-e input[type="text"],
.section-g input,
.section-g .contact form {
  width: 100%;
}



.section-d .text p,
.section-f .text1,
.section-f .text2,
.section-g li,
.section-i p  {
  text-align: justify;
}

.banner form {
  gap:  calc(20px + (80 - 20) * ((100vw - 1024px) / (1920 - 1024)));
  padding: 0 20px 10px;
}

.banner .form-control {
  display: grid;
  gap: 8px;
}

.banner .bottom .title,
.section-a h3,
.section-b h3,
.section-c h3,
.section-d h3,
.section-e h3,
.section-f h3,
.section-g h3,
.section-h h3,
.section-i h3,
.footer {
  color: #ffffff;
}
.banner .bottom .title,
.footer{
  background-color: #b2292d;

}
.banner .bottom .title {
  width: calc(130px + (160 - 130) * ((100vw - 1024px) / (1920 - 1024)));
  border-radius: 3px;
  font-weight: 600;
  padding: 4px 20px;
}

.banner .form-control label,
.banner .stamp {
  font-size: calc(13px + (16 - 13) * ((100vw - 1024px) / (1920 - 1024)));
  font-weight: 600;
}



.banner input {
  padding: 15px;
}

.section-a .int-student input {
  border: 3px solid #ffffff !important;
}

.section-a .int-student .bold {
  padding-top: 15px;
}

.banner input,
.section-a input {
  border-radius: 4px;
}

.dashed-line {
  border-left: 3px dashed #000;
  height: 132px;
}

.section-a h3,
.section-b h3,
.section-c h3,
.section-d h3,
.section-e h3,
.section-f h3,
.section-g h3,
.section-h h3,
.section-i h3 {
  padding: 3px 20px;
  width: 580px;
  border-radius: 10px;
  background: #b2292d;
}

.section-a .column2 .form-control,
.section-a  .column3 .form-control,
.section-a .form2 .column4 .form-control,
.section-a .form2 .column5 .form-control,
.section-i .applicant,
.section-i .parents,
.section-i .applicant,
.section-i .parents,
.section-a .int-student .col-1,
.section-a .int-student .col-2,
.section-h .left,
.section-h .right,
.section-g .form-control,
.section-h .col1 .form-control,
.section-h .col2 .form-control  {
  width: 50%;
}
.section-a .full-name label {
  width: 14%;
}

.section-a .form1 .column2 .label1{
width: 80%;
}
.section-a .form1 .column2 .label2{
  width: 43%;
}

.section-a .column5 {
  gap: 50px;
}

.section-a .form1 .column3 p
{
  width: 40%;
}
.section-a .form1 .col2 .date {
  width:63%;
}
.section-i .container  {
  gap: 40px;
}

.section-a .form1 .column1  {
  gap: 80px;
}

.section-a .form1 .col2 {
  gap: 50px;
}

.section-a .form1 .column3 .number {
  width: 35%;
}
.section-d input{
  margin-left:  calc(0px + (20 - 0) * ((100vw - 1024px) / (1920 - 1024)));
}

.section-a input[type="text"],
.section-a input [type="radio"],
.section-a .int-student input[type="checkbox"],
.section-a .form2 label,
.section-a .form1 p,
.section-a .form1 .full-name label,
.section-a .form1 .column2 label,
.section-a .column3 .number,
.section-e input {
  margin-left: 10px;
}

.section-a .column2 input,
.section-a .form2,
.section-a .form2 .column1,
.section-a .form2 .column3,
.section-a .form2 .column4,
.section-a .form2 .column5,
.section-a .form2 .address,
.section-h .left .form-control2,
.section-h .left .col1,
.section-h .left .col2,
.section-i .bottom,
.section-i .form-control1,
.dashed-line,
.section-a .line,
.section-g .col2,
.section-f .container,
.section-g li {
  margin-top: 10px;

}

.section-a .form2 .address label {
  width: 21%;
}

.section-a .int-student .input1 {
  width: 43%;
}

.section-a .int-student .input2 {
  width: 58%;
}

.section-a .int-student .input3 {
  width: 65%;
}

.section-a .column6,
.section-a .int-student .bold,
.section-h .left p,
.section-e .doc p
{
  line-height: 0;
}

.section-a .column5 span {

  margin-left: 23px;
}

.section-a .int-student,
.section-a .line,
.section-d .bottom,
.section-g .contact,
.section-h .right,
.section-h .left .form-control1,
.section-h .left .form-control2,
.section-h .left .col1,
.section-h .left .col2,
.section-i .bottom,
.section-i .form-control1,
.footer {
  border-radius: 8px;
}
.section-h .right,
.section-h .left .form-control1,
.section-h .left .form-control2,
.section-h .left .col1,
.section-h .left .col2,
.section-a .int-student,
.section-i .form-control1
{
  background-color: #e7e7e7;
}
.section-a .int-student {
  padding: 0 20px 0;
  position: relative;
  margin-top: 40px;
}

.section-a .line {
  width: 89%;
  height: 70px;
  margin-left: -5px;
  position: absolute;
}

.section-a .int-student .container {
  margin-top: -15px;
}


.section-f .container,
.section-e .container {
  gap: 15px;
}

.section-f .question p,
.section-e .question p,
.section-g label,
.section-g p,
.section-i .title1,
.section-i form label,
.section-d .text span,
.section-d .question p,
.section-h label,
.section-h p,
.section-h .left span,
.section-i form span,
.section-a .bold
{
  font-weight: 600;
}

.section-d .question {
  margin-top: -10px;
}

.section-d .bottom .input {
  padding: 4px;
}


.section-d .bottom span,
.section-h .left span,
.section-i form span,
.section-a .int-student span,
.section-a .column5 span,
.section-a .form2 .address span,
.section-a .form-control span   {
  display: block;
  font-size: 12px;
}
.section-a .column6{
  display: block;
}
.section-d .bottom,
.section-a .line {
  background: #f0d4d5;
}
.section-i .form-control1,
.section-h .form-control1{
  padding: 0 0 20px 20px;
}
.section-g .contact,
.section-i .verify,
.section-i .bottom,
.footer {
  padding: 5px 16px;
}
.section-g label{
  width: 150px;
}
.section-f .text1{
margin: 0;
}

.section-g .contact {
  margin-top: 30px;
  gap: 10%;
}
.section-g .col1,
.section-g .col2{
  gap: 15px;
}
.section-i span,
.section-e .text{
  font-size: calc(11px + (14 - 11) * ((100vw - 1024px) / (1920 - 1024)));
}


.section-i span,
.section-g span {
  font-weight: 400;
}

.section-h .container,
.banner .bottom{
  gap: 10px;
}
.section-h .container {
  padding-top: 40px;
}
.section-g input,
.section-e .doc input{
  padding: 4px;
  border-radius: 4px;
}
.section-h .left .form-control1{
  padding: 5px 5px 20px 5px;
}
.section-h .form-control input,
.section-h .form-control2 input,
.section-i form .form-control2 input,
.section-e .button input
{
  padding: 8px;
}
.section-h input,
.section-g input,
.section-i form input,
.section-e .button input,
.section-d .bottom input,
.section-e .doc input,
.banner input,
.section-a input {
  border: 3px solid #e6e7e7;
  background-color: #e2e5f0;
}
.section-h input {
  border: none !important;
}
.section-h .right {
  padding: 10px;
}

.section-h .left .form-control2,
.section-h .left .col1,
.section-h .left .col2,
.section-d .bottom,
.section-a input
{
  padding: 5px;
}
.section-h .right .address input {
  height: 55px;
}
.section-h .form-control .label1 {
  width: 350px;
}
.section-i .verify,
.section-i .bottom,
.section-g .contact {

  background-color: #f0d4d5;
}
.section-i .form-control1 span,
.section-h .left span {

  position: absolute;

}

.section-i p,
.banner .instructions p,
.banner .bottom .title,
.banner li,
.section-f p,
.section-g li,
.section-f label,
.section-e .question p,
.section-d p,
.section-d label,
.section-e label,
.section-a label,
.section-a p {
  font-size: calc(15px + (19 - 15) * ((100vw - 1024px) / (1920 - 1024)))
}
.footer {
  margin-top: 10%;
  justify-content: space-around;

}
.footer a,
.section-i .title1,
.section-i label,
.section-h label,
.section-g label,
.section-g span{
  font-size: calc(16px + (20 - 16) * ((100vw - 1024px) / (1920 - 1024)));
}

