<section class="section-i">
  <div class="title">
    <h3>Section I: DECLARATION AND SIGNATURE</h3>
  </div>
  <div class="container">
    <div class="applicant">
      <p class="title1">Applicant</p>
      <p>
        I consent to Taylor’s processing my personal data (including sensitive
        personal data as defined in the Personal Data Protection Act 2010) for
        purposes not limited to admission, statistical analysis, compliance to
        statutory requirements and to share from time to time with Taylor’s
        appointed third party agents.
      </p>
      <p>
        I declare that all information provided by me in this form, including
        information given in all other supporting documents provided is
        truthful, true and accurate. I further understand and accept that it is
        entirely my obligation to ensure the credibility and accuracy of all
        information provided and in the event any information is found to be
        untrue for whatever reason and howsoever caused, Taylor’s may, in
        addition to withdrawing any offer that may have been made, completely
        invalidate my application and any examinations that I may have passed
        before the information is found to be untrue including the revocation of
        any award that may have been conferred to me.
      </p>
      <p>
        I authorize Taylor’s to verify my academic records from previous
        institutions or my work experience from past employers or any other
        verification for programme entry purposes, if applicable
      </p>
      <p>
        If tuition fees are paid by an organization (”Sponsor”) or my parents, I
        authorize Taylor’s to release my fees and academic progress information
        to the sponsor and/or my parents and upon request.
      </p>
      <p>
        <input type="checkbox" id="" name="" value="" />
        I agree to abide by the statuses, regulation and policies of Taylor’s at
        all times
      </p>
        <p>
          <input type="checkbox" id="" name="" value=""/>
          I have read and understood all the above conditions and agree to fully
          accept them.
        </p>
        <p>
          <input type="checkbox"  name="" value="" />
          I have read and understood the Personal Data Protection Notice provided
          by Taylor’s at <span> https://university.taylors.edu.my/en/pdpa.html.</span>
          I hereby give consent to Taylor’s to process my child/ward's personal
          data in accordance with the Personal Data Protection Notice.
        </p>
   
      <div class="verify">
        <p class="title2">
          Taylor's Verify
          <span>(excluding external award programmes)</span>
        </p>
        <p>
          In our bid to counter the burgeoning use of fraudulent academic
          credentials and counterfeit degrees, Taylor’s provides an online
          service called Taylor’s Verify to allow potential employers and/or
          sponsors to instantly verify the authenticity of the parchments of
          homegrown programmes conferred to its graduates. Taylor’s Verify is a
          free service provided to our students that allows employers and
          sponsors to expedite their due-diligence and recruitment process. For
          more information on this service, please logon to
          <span> https:// verify.taylors.edu.my. </span>
        </p>
        <p>
          <input type="checkbox" id="" name="" value="" />
          I wish to sign-up for the Taylor’s Verify service and hereby consent
          to having my parchment information included in the Taylor’s Verify
          service.
        </p>
      </div>
  
      <form [formGroup]="userForm">
        <div class="form-control1">
          <label for="name">
            Name:
            <span> (as per NRIC/passport) </span>
          </label>
          <input name="name" type="text" formControlName="name" />
          <div class="text-danger" *ngIf="userForm.controls['name'].touched">
            This field is required
          </div>
        </div>

        <div class="bottom">
          <div class="form-control2">
            <input type="hidden" />
            <label for="discount">(signature of applicant)</label>
          </div>
          <div class="form-control2">
            <input name="date" type="text" formControlName="date" />
            <div class="text-danger" *ngIf="userForm.controls['date'].touched">
              This field is required
            </div>
            <label for="date">(Date)</label>
          </div>
        </div>
      </form>
    </div>
    <div class="parents">
      <p class="title1">
        Parents/Guardian
        <span>(Applicable for Applicant age below 18)</span>
      </p>
      <p>
        I provide consent to Taylor’s to process my child/ward’s personal data
        (including sensitive personal data as defined in the Personal Data
        Protection Act 2010) for purposes such as but not limited to admission,
        statistical analysis, compliance to statutory requirements and to share
        from time to time with Taylor’s appointed third party agents, government
        authorities and Taylor's related companies.
      </p>
      <p>
        I hereby apply for his/her admission at Taylor’s and undertake to pay
        the full fees of this programme until complete.
      </p>
      <p>
        I hereby agree to pay all the fees due and other ancillary expenses on
        the dates stipulated by Taylor’s, failing which Taylor’s reserves the
        right to bar my child/ward from attending classes including termination
        of study
      </p>
      <p>
        If tuition fees are paid by an organization (”Sponsor”), I authorize
        Taylor’s to release the applicant’s fees and academic progress
        information to the sponsor upon request.
      </p>
      <p>
        <input type="checkbox" id="" name="" value="" />
        I have read and understood all the above condition and agree to fully
        accept them.
      </p>
      <p>
        <input type="checkbox" id="" name="" value="" />
        I have read and understood the Personal Data Protection Notice provided
        by Taylor’s at
        <span> https://university.taylors.edu.my/en/pdpa.html.</span>
        I hereby give consent to Taylor’s to process my child/ward's personal
        data in accordance with the Personal Data Protection Notice.
      </p>
      <div class="verify">
        <p class="title2">
          Taylor's Verify
          <span>(excluding external award programmes)</span>
        </p>
        <p>
          In our bid to counter the burgeoning use of fraudulent academic
          credentials and counterfeit degrees, Taylor’s provides an online
          service called Taylor’s Verify to allow potential employers and/or
          sponsors to instantly verify the authenticity of the parchments of
          homegrown programmes conferred to its graduates. Taylor’s Verify is a
          free service provided to our students that allows employers and
          sponsors to expedite their due-diligence and recruitment process. For
          more information on this service, please logon to
          <span> https:// verify.taylors.edu.my. </span>
        </p>
        <p>
          <input type="checkbox" id="" name="" value="" />
          I wish to sign-up for the Taylor’s Verify service and hereby consent
          to having my parchment information included in the Taylor’s Verify
          service.
        </p>
      </div>
      <form>
        <div class="form-control1">
          <label for="name">
            Name:
            <span> (as per NRIC/passport) </span>
          </label>
          <input name="name" type="text" />
        </div>
        <div class="bottom">
          <div class="form-control2">
            <input type="hidden" />
            <label for="discount">(signature of applicant)</label>
          </div>
          <div class="form-control2">
            <input name="date" type="text" />
            <label for="date">(Date)</label>
          </div>
        </div>
      </form>
    </div>
  </div>
 
  <div class="footer">
    <div class="email">
      <a herf=" applications@taylors.edu.my">
        Email:
        <span>applications&#64;taylors.edu.my</span>
      </a>
    </div>
    <div class="website">
      <a herf=" university.taylors.edu.my">
        Website:
        <span> university.taylors.edu.my</span>
      </a>
    </div>
  </div>
</section>
