<section class="section-g">
    <div class="title">
        <h3>
            Section G:
                EMERGENCY CONTACT
        </h3>
    </div>
    <div class="contact">
        <p class="title1">
            Emergency contact:
            <br>
            <span>(Do not put friend as an emergrncy contact)</span>
        </p>
        <form [formGroup]="userForm">
            <div class="col1">
                <div class="form-control">
                    <label for="student-id">Name:</label>
                    <input name="Student-id" type="text" formControlName="name">
                    <div class="text-danger" *ngIf=" userForm.controls['name'].touched">
                        This field is required
                    </div>
                </div>
                <div class="form-control">
                    <label for="discount">Relationship:</label>
                    <input name="discount" type="text" formControlName="Relationship">
                    <div class="text-danger" *ngIf=" userForm.controls['Relationship'].touched">
                        This field is required
                    </div>
                </div>
            </div>
            <div class="col2">
                <div class="form-control">
                    <label for="student-id">Mobile:</label>
                    <input name="Student-id" type="text" formControlName="mobile">
                    <div class="text-danger" *ngIf=" userForm.controls['mobile'].touched">
                        This field is required
                    </div>
                </div>
                <div class="form-control">
                    <label for="discount">Email:</label>
                    <input name="discount" type="text" formControlName="Email">
                    <div class="text-danger" *ngIf=" userForm.controls['Email'].touched">
                        This field is required
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="text">
        <ul>
            <li>
                The parent / guardian / next of kin agrees to provide Taylor’s with the contact information where he/she can be reached while away. The parent /
        guardian / next of kin shall also provide an emergency contact and phone number of an individual authorized as the responsible person to oversee any
        major problems that should arise (parent may fill their own name as an emergency contact). If the parent / guardian / next of kin or emergency contact
        person cannot be reached for any reason in a timely manner, the parent / guardian / next of kin authorizes Taylor’s to resolve emergencies at its
        sole discretion and agrees to indemnify Taylor’s for all expenses incurred with regards to the emergency.
            </li>
            <li>
                Taylor’s is committed to providing a healthy and safe environment for all students. In the event of an accident or emergency while on Taylor’s premises
        and other external premises (including authorized field trips, internships and others), if Taylor’s is unable to reach the parent / guardian / next of kin and/
        or the emergency contact listed, parent / guardian / next of kin agrees and gives Taylor’s permission to transport the student to a hospital for
        medical treatment. The parent / guardian / next of kin further agrees not to hold Taylor’s liable nor take any legal actions against Taylor’s on any basis
        harmless and waive any and all claims against Taylor’s, its officers, employees, agents, and volunteers, including, but not limited to, claims arising out of
        any ordinary negligence of any officer, employee, agent, student or volunteer of the School, or any loss or damage to personal property occurring during
        the accident or emergency of the Student.
            </li>
        </ul>
    </div>

</section>