<section class="section-f">
    <div class="title">
        <h3>
            <span>Section F:</span>
            SPECIAL CONDITION
        </h3>
    </div>
    <div class="container">
        <div class="question">
            <p>Do you have a disability, impairment or long-term medical condition which may affect your studies?</p>
        </div>
        <div class="button">
            <input type="radio" name="yes">
            <label for="html">Yes</label>
            <input type="radio" name="no">
            <label for="css">No</label>
        </div>
    </div>
    <div class="text">
        <p class="text1">
            If yes, please provide the relevant medical documentation with this application which will enable us to provide reasonable adjustments to
                support you in your studies. Disclosure of this information is treated confidentially and will not be used to disadvantage you. The
                Centre for Counselling Services (CCS) at Taylor’s may contact you to discuss the support, equipment and facilities available that may
                assist.
        </p>
        <p class="text2">
          Our foremost priority is to conduct the Centre for Counselling Services (CCS) interview before proceeding with other types of evaluations, such as
          the entry interview or test. If your application involves an entry interview and/or test, successfully completing all academic and non-academic
          interviews and assessments is mandatory. Failing to meet the requirements in any of the interviews and/or assessments may significantly impact
          the final approval to your application. To complete the interviews and assessments, we encourage you to consult with your Education Counselor to
          determine the preferred order of completion based on your personal preference
        </p>
    </div>
</section>
